<div  class="container-fluid bt-container">
    <div class="row bt-body">
        <div class=".col-xs-12 .col-sm-12 .col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Note</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <button class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span></button>
                        </td>
                        <td>Rafał</td>
                        <td>Salamon</td>
                        <td>I am not going</td>
                    </tr>

                    <tr>
                        <td>
                            <button class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span></button>
                        </td>
                        <td>Rafał</td>
                        <td>Salamon</td>
                        <td>I am not going</td>
                    </tr>

                    <tr>
                        <td>
                            <button class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span></button>
                        </td>
                        <td>Rafał</td>
                        <td>Salamon</td>
                        <td>I am not going</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>