<!DOCTYPE html>
<html lang="en" ng-app="tm.ngbooktime">
<head>
    <meta charset="UTF-8">
    <title ng-bind="page.title">ng-booktime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/ng-booktime-main-theme.css">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Registration form</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

</head>
<body class="bt-normal">

    <rs-navigation></rs-navigation>
    <div ui-view></div>

    <!-- JS lib vendor Angular & Bootsrap directives -->
    <script src="js/vendor/angular/angular.min.js"></script>
    <script src="js/vendor/angular/angular-messages.min.js"></script>
    <script src="js/vendor/ui-router-0.2.15.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.14.2.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>

    <!-- App init -->
    <script src="js/app.js"></script>

    <!-- Setting & constant for application -->
    <script src="js/constants.js"></script>

    <!-- Setup routes -->
    <script src="js/router.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/DashboardCtrl.js"></script>
    <script src="js/controllers/modalFormCtrl.js"></script>

    <!-- Directives -->
    <script src="js/directives/rs-navigation.js"></script>
    <script src="js/directives/rs-listpeople.js"></script>

    <!-- Services -->
    <script src="js/services/peopleService.js"></script>
    <script src="js/services/modalService.js"></script>


</body>
</html>